<div data-name="Widget.Folder" class="widget-content">
    
    <div id="folder">
        <img src="externalapps/icon/2E3636692001B28FC76F4F34DAC60A0730A2A13CF36A730A" id="folder-icon" />
        <div id="folder-text">
            <div id="folder-title"></div>
            <div id="folder-subtitle"></div>
        </div>
        <div id="folder-buttons"></div>
    </div>

    <div id="folder-filelist"></div>
   
</div>
