<div data-name="Widget.Folder" class="widget-content">
    
    <div id="folder">
        <img src="" id="folder-icon" />
        <div id="folder-text">
            <div id="folder-title"></div>
            <div id="folder-subtitle"></div>
        </div>
        <div id="folder-buttons"></div>
    </div>

    <div id="folder-filelist"></div>
   
</div>
