<div data-name="Widget.Folder" class="widget-content">
    <img src="" class="folder-icon" />
    <div class="title">
        <%= app._('widget.title', null, '2E3636692001B28FC76F4F34DAC60A0730A2A13CF36A730A') %>
    </div>
    
    <div class="subtitle">
        <%= app._('widget.subtitle', null, '2E3636692001B28FC76F4F34DAC60A0730A2A13CF36A730A') %>
    </div>
    
    <img src="externalapps/icon/2E3636692001B28FC76F4F34DAC60A0730A2A13CF36A730A" />
    <h4><%= app._('widget.title', null, '2E3636692001B28FC76F4F34DAC60A0730A2A13CF36A730A') %></h4>
</div>
