[data-name="Widget.Folder"].widget-content {
    width: 100%;
    margin: 0;

    * {
        box-sizing: border-box;
    }

    .folder-container {
        border-radius: 5px;
        border: 1px solid #cecece;
        background-color: #fff;
        width: 100%;
        cursor: pointer;
    }

    .icon-save {
        background-image: url(/app/dist/public/icon/UI/icons.png?v=2010_0_20);
        background-position: -162px -163px;
        height: 22px;
        width: 22px;
    }

    .icon-remove {
        background-image: url(/app/dist/public/icon/UI/icons.png?v=2010_0_20);
        background-position: -162px -190px;
        height: 22px;
        width: 22px;
    }

    .folder-admin {
        width: 100%;
        padding: 3px;
        background-color: rgb(48, 48, 48);
        margin-bottom: 5px;
    }

    .folder {
        position: relative;
        display: flex;
        width: 100%;
        padding: 5px;
        justify-content: space-between;
        

        .folder-icon {
            max-width: 64px;
            max-height: 64px;
        }
        
        .folder-text {
            padding-left: 10px;
            width: 100%;

            .folder-title {
                width: 100%;
                font-size: 18px;
            }
        
            .folder-subtitle {
                width: 100%;
            }
        }

        .folder-buttons {
            button {
                width: 74px;
            }
        }
    }

    .folder-filelist {
        padding: 10px 0;
        display: none;

        ul {

            li {
                display: flex;
                list-style: none;
                margin-bottom: 10px;

                .file-icon {
                    margin-right: 8px;
                }

                a {
                    display: block;
                    font-size: 16px;
                    padding-top: 3px;
                }

                input {
                    margin-top: 4px;
                    margin-right: 5px;
                    color: #000000;
                }

                .action {
                    margin-top: 4px;
                    margin-right: 5px;
                }
            }
        }
        
    }
    
}
